*.dcu
*.~*~
*.local
*.identcache
__history
*.tvsconfig
*.map
target
unittest/db/SAMPLE.FDB
bin/dbunit4delphiR7.dcp
bin/dbunit4delphitest.map
bin/dbunit4delphitest.exe
bin/GenaratorDataset.exe
bin/dbunit4delphitest.drc
bin/DBConfig.ini
bpg/ProjectGroup_dbunit4delphi.dsk
git-remove-history.sh
CodeCoverage.exe
Arquivos.txt
coverage.log